*{
        padding:0px;
        margin:0px;
    }
    body{
        background:#f5f5f5;
        padding:10px;
    }
    h3{
        font-weight:900;
        font-size:2rem;
        padding:20px;
        padding-bottom:20px;
    }
    .container{
        width:100%;
        padding:10px;
        margin: 0px auto;
        background:#bfbfbf7a;
        border-bottom-left-radius:5px;
        border-top-left-radius:5px;
    }
    select{
        float:right;
        background:none;
        border:none;
        font-size:0.9rem;
    }
    .row{
        width:100%;
        padding-bottom:20px;
    }
    textarea{
        margin:0px !important;
        width:100%;
        font-size:1rem;
    }
    .editor{
        padding-top:20px;
    }
    .output{
        padding:20px;
        border:1px solid black;
        width:100%;
        background:#000000a6;
        min-height:200px;
        border-bottom-right-radius:5px;
        border-top-right-radius:5px;
        color:white;
    }
    .flex{
        display:flex;
        flex-dirext:row;
        flex-wrap:no-wrap;
    }
    .btn{
        margin-top:10px;
        padding:3px;
        padding-left:10px;
        padding-right:10px;
        border-radius:2px;
    }